  
<!--  Browser Header -->
<br/>
<div id ="title2_black">
  <%= @title_left %>
  <font size="1" style="font-size:28px; color:limegreen">
    <%= @title_right %>
  </font>
  <font size="1" style="font-size:20px; color:gray">
    <%= @title_more_right %>
  </font>
</div>



<!--  Recipe Tag Options -->
<div>
  <% form_tag url_for(:action => @action, :controller => 'viewers'), :method => "get" do %>
    <%= hidden_field_tag :sort, @query[:sort] %>
    <%= hidden_field_tag :page, @query[:page] %>
    <% if @action == "index" %>
      <%= hidden_field_tag :course,@query[:course] %>
      <%= select_tag 'foodtag', options_for_select(food_tag_select.collect{|x| x}) %>
    <% else %>
      <%= hidden_field_tag :emo, @query[:emo] %>
      <%= select_tag 'storytag', options_for_select(story_tag_select.collect{|x| x}) %><% end %>
    <%= submit_tag "filter now" %>    
    <%= link_to 'clear filter', :action => @action, :controller => 'viewers', :storytag => nil, :course => @query[:course], :sort => @query[:sort], :page => 0  %>
  <% end %> 
</div>

<!--  Recipe Sorting Options -->
<div>
  <% preserve = @query.clone %>
  <% @query[:page] = 0 %>  

        <% @query[:sort] = "new" %>
          <% if preserve[:sort] == "created_at DESC" %><span id ="highlight_grn"><%=  link_to "newest", users_path(:query => @query) %></span>
          <% else %><span id ="title9_grn"><%=  link_to "newest", :action => @action, :controller => 'viewers', :query => @query %></span><% end %>

        <% @query[:sort] = "old" %>
          <% if preserve[:sort] == "created_at ASC" %> | <span id ="highlight_grn"><%=  link_to "oldest", users_path(:query => @query) %></span>
          <% else %> | <span id ="title9_grn"><%=  link_to "oldest", :action => @action, :controller => 'viewers', :query => @query %></span><% end %>

        <% if @action == "index" %>         
          <% @query[:sort] = "rate" %>
            <% if preserve[:sort] == "rate" %> | <span id ="highlight_grn"><%=  link_to "rating", users_path(:query => @query) %></span>
            <% else %> | <span id ="title9_grn"><%=  link_to "rating", :action => @action, :controller => 'viewers', :query => @query %></span><% end %>
        <% end %>
  <% @query = preserve.clone %>
</div>



    


  
  


