  
<!--  Browser Header -->
<br/>
<div id ="title2_black">
  <%= @title_left %>
  <font size="1" style="font-size:28px; color:limegreen">
    <%= @title_right %>
  </font>
  <font size="1" style="font-size:20px; color:gray">
    <%= @title_more_right %>
  </font>
</div>

<!--  Recipe Sorting Options -->    
<div>
  <% preserve = @query.clone %>
  <% @query[:page] = 0 %>
  <% @query[:sort] = "new" %>
  <%=  link_to "newest", :action => 'show', :controller => 'viewers', :query => @query %> |
  <% @query[:sort] = "old" %>
  <%=  link_to "oldest", :action => 'show', :controller => 'viewers', :query => @query %> |
  <% @query[:sort] = "chef" %>
  <%=  link_to "chef", :action => 'show', :controller => 'viewers', :query => @query %> |
  <% @query[:sort] = "rate" %>
  <%=  link_to "rating", :action => 'show', :controller => 'viewers', :query => @query %> |
  <% @query[:sort] = "story" %>
  <%=  link_to "stories", :action => 'show', :controller => 'viewers', :query => @query %>
  <% @query = preserve.clone %>
</div>

<!--  Recipe Tag Options -->
<div>
  <% form_tag url_for(:action => 'show', :controller => 'viewers'), :method => "get" do %>
    <%= hidden_field_tag :course,@query[:course] %>
    <%= hidden_field_tag :sort, @query[:sort] %>
    <%= hidden_field_tag :page, @query[:page] %>
    <%= select_tag 'foodtag', options_for_select(food_tag_select.collect{|x| x}) %>
    <%= submit_tag "filter now" %>
  <% end %> 
</div>
<br/>

    


  
  


