<!--  Pagination -->
<div class ="pagination" >
    <%= link_to '<<', :action => 'show', :controller => 'viewers', :course => @course, :sortby => @sortby, :page => @page-1 %>
    <%= ' - pg ' + (@page+1).to_s + ' - '%>
    <% if @recipes != nil %><%= link_to '>>', :action => 'show', :controller => 'viewers', :course => @course, :sortby => @sortby, :page => @page+1 %><%end%>
</div>

<!--  Recipe Table -->
<br/>
 <% if (@recipes != nil  && @recipes.count != 0) %>
 <table width = "720">
    <tr>
      <td width ="600"></td>
      <td width ="40" align ="center">:)</td>
      <td width ="40" align ="center">:(</td>
      <td width ="40" align ="center">[][]</td>      
    </tr>
  
   <%@recipes.each do |recipe| %>
    <tr>
      <td><div id="title6_black">
          <%= link_to recipe.title_concat, recipe, {:style=>'color:black; hover'} %></div>
          <div id="title8_gray">by 
          <%= recipe.users.first.name[0...30] %> on
          <%= recipe.created_at.strftime("%B %d, %Y") %>
          </div>
      </td>      
     <td><div id="title6_gray" align ="center">
          <%= recipe.num_of_likes %></div></td>
     <td><div id="title6_gray" align ="center">
          <%= recipe.num_of_hates %></div></td>
     <td><div id="title6_gray" align ="center">
         <%= recipe.stories.count %></div></td>         
   </tr>
   <% end %>  
 </table>
 <% else %>
    <br/><div id="title2_gray" text-align = "center">An empty page, begging to be filled.</div>
 <% end %>



 


  
  


