
<div class="recipe_number" id="title4_gray">
  <%= "# " + @recipe.id.to_s %>
</div>

<div id="title2_black">
  <%= @recipe.title %>
</div>

<div id ="title8_gray">
  <%= @author_recipe.name %>, <%= @recipe.created_at.strftime("%B %d, %Y") %>
</div>

<% if @edit_allowed == true %>
  <div id ="title9_org">
    <%= link_to "edit ("+@edit_days_remaining.to_s+" days left)", edit_recipe_path(@recipe.id) %>
  </div>    
<% end %>

<div id="heart">
    <% if @favourite_recipe == nil %>
       <%= link_to image_tag('grey_heart.gif', :mouseover => "red_heart.gif"), new_user_path   %>
    <% elsif @favourite_recipe == "no" %>
      <%= link_to image_tag('grey_heart.gif', :mouseover => "red_heart.gif"), :action => 'create', :controller => 'recipefavourites', :user_id => current_user, :recipe_id => @recipe %>
    <% elsif (@favourite_recipe == "keeper" || @favourite_recipe == "maybe") %>
      <%= image_tag('red_heart.gif') %>
    <% elsif @favourite_recipe == "hate" %>
      <%= link_to image_tag('broken_heart.gif', :mouseover => "red_heart.gif"), :action => 'update', :controller => 'recipefavourites', :user_id => current_user, :recipe_id => @recipe, :sendto => "maybe", :redirect => "recipe" %>
    <% end %>  
</div>











