
<div id="paper_text"><br/>

  <div id ="title4_org" align="center">Ingredients</div>
  <div><%= simple_format(@recipe.ingredients, :id=>"title7_black") %></div>
             
  <div id ="title4_org" align="center">Directions</div>
  <div><%= simple_format(@recipe.instructions, :id=>"title7_black" )%></div>
        
  <div id="title8_black" align="center">
    <% if @recipe.prepTime %>
      Prep in <%= @recipe.prepTime%>
    <% end %>
    <% if @recipe.prepTime && @recipe.cookTime %>
      |
    <% end %>
    <% if @recipe.cookTime %>
      Cook for <%= @recipe.cookTime%>
    <% end %>
  </div>
  <div id="title8_black" align="center">
    <% if @recipe.yield %>
      Makes for <%= @recipe.yield %> hungry<% if @recipe.cookTime == 1 %> person<% else %> people<% end %>
    <% end %>
  </div>
    
</div>
