<%= form_for(@recipe) do |f| %>


  <%= f.hidden_field :user_id, :value => current_user.id %>
  <% button_location = 'foodlabel' %>
  <br/>
  <div class ="input" id="privatefield">
    for my eyes only <%= f.check_box :private %>
  </div>
  <div>
    <%= f.label :ingredients, :class => "input", :id => "ingredlabel"%>
    <%= f.text_area :ingredients, :class => "input", :id => "ingredfield" %>
  </div>
  <div>
    <%= f.label :instructions, :class => "input", :id => "instructlabel" %>
    <%= f.text_area :instructions, :class => "input", :id => "instructfield" %>
  </div>
  <div>
    <%= f.label :title, :class => "input", :id => "titlelabel" %>
    <%= f.text_field :title, :class => "input", :id => "titlefield" %>
  </div>
  <div>
    <%= f.label :course, :class => "input", :id => "courselabel" %>
    <%= f.select :course , course_select, {}, {:class => "input", :id => "coursefield"} %>
  </div>
  <div>
    <%= f.label "Prep time", :class => "input", :id => "preplabel" %>
    <%= f.text_field :prepTime, :class => "input", :id => "prepfield" %>
  </div>
  <div>
    <%= f.label "Cook time", :class => "input", :id => "cooklabel" %>
    <%= f.text_field :cookTime, :class => "input", :id => "cookfield" %>
  </div>
  <div>
    <%= f.label "Serves", :class => "input", :id => "yieldlabel" %>
    <%= f.number_field :yield, :class => "input", :id => "yieldfield" %>
  </div>



  <% if @recipe_button == "Add Recipe" %>
  <% button_location = 'submit' %>
  <div class ="input" id = "foodlabel">Categorize</div>
  <div class ="input" id = "foodchecks"> 
    <table>
      <tr>        
        <td><%= check_box_tag "food_tags[]", "BBQ" %> BBQ, grill</td>
        <td><%= check_box_tag "food_tags[]", "Beef" %> Beef</td>
        <td><%= check_box_tag "food_tags[]", "Cakes" %> Cakes</td>
        <td><%= check_box_tag "food_tags[]", "Chicken" %> Chicken</td>                
      </tr>
      <tr>        
        <td><%= check_box_tag "food_tags[]", "Cookies" %> Cookies</td>
        <td><%= check_box_tag "food_tags[]", "Family" %> Family</td>
        <td><%= check_box_tag "food_tags[]", "Healthy" %> Healthy</td>
        <td><%= check_box_tag "food_tags[]", "Holidays" %> Holidays</td>                
      </tr>
      <tr>        
        <td><%= check_box_tag "food_tags[]", "Italian" %> Italian</td>
        <td><%= check_box_tag "food_tags[]", "Kids" %> Kids</td>
        <td><%= check_box_tag "food_tags[]", "Lifestyle" %> Lifestyle</td>
        <td><%= check_box_tag "food_tags[]", "Mexican" %> Mexican</td>        
      </tr>
      <tr>        
        <td><%= check_box_tag "food_tags[]", "Ethnic" %> Ethnic</td>
        <td><%= check_box_tag "food_tags[]", "Pasta" %> Pasta</td>
        <td><%= check_box_tag "food_tags[]", "Pork" %> Pork</td>
        <td><%= check_box_tag "food_tags[]", "Quick" %> Quick</td>        
      </tr>
      <tr>        
        <td><%= check_box_tag "food_tags[]", "Restaurants" %> Restaurant</td>
        <td><%= check_box_tag "food_tags[]", "Seafood" %> Seafood</td>
        <td><%= check_box_tag "food_tags[]", "Seasonal" %> Seasonal</td>
        <td><%= check_box_tag "food_tags[]", "Slow Cooker" %> Slow Cooker</td>        
      </tr>
      <tr>
        <td><%= check_box_tag "food_tags[]", "Vegetarian" %> Vegetarian</td>
      </tr>
    </table>      
  </div>
  <% end %>

  <div class="actions">
    <%= f.submit @recipe_button, :class => "input", :id => button_location %>
  </div>

  
 <% end %>

<% if @recipe.errors.any? %>
    <div class="error_background" id="error_add_recipe">
      <ul>
      <% @recipe.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      <li>Categories have to be re-entered</li>
      </ul>
    </div>
<% end %>
