<div id="page1">
  <div><p><%= @recipe.title%></p></div>
  <div><p><%= @recipe.course%> | <%= @recipe.recDate.to_s(:long)%></p></div>
  <div style="overflow: auto; width:400px; height:150px;">
    <%= simple_format(@recipe.ingredients)%>
  </div>
  <br/>
  <div style="overflow: auto; width:400px; height:300px;">
    <%= simple_format(@recipe.instructions)%>
  </div>
  
  <br/>
  <div>Prep in <%= @recipe.prepTime%> minutes   |  Cook for <%= @recipe.cookTime%> minutes <br/></div>
  <div>Makes for <%= @recipe.yield %> hungry<% if @recipe.cookTime == 1 %> person<% else %> people<%  end %></div>
</div>
<div id="page2">
  <div><p>Story</p></div>
  <% if @recipe.stories.count > 0 %>
    <div><%= @recipe.stories.first.story%></div>
  <% end %>

</div>