<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @recipe.user_id %>
</p>

<p>
  <b>Title:</b>
  <%= @recipe.title %>
</p>

<p>
  <b>Story:</b>
  <%= @recipe.story %>
</p>

<p>
  <b>Recipe:</b>
  <%= @recipe.recipe %>
</p>

<p>
  <b>Created on:</b>
  <%= @recipe.created_on %>
</p>

<p>
  <b>Pic:</b>
  <%= @recipe.pic_id %>
</p>


<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>
