
<!-- Book Title and Main Links -->
    <div align="center"><br/>
      <div id="title0_black"><%=@user.bookname%></div>
      <div>
      <%= link_to "main", :action => 'show', :controller => 'users' %> |
      <%= link_to "add a recipe", new_recipe_path %> |
      <%= link_to "edit book" %> |
      <%= link_to "sign out", signout_path, :method => :delete %>
      </div>
    </div>
    
<!--  Keeper / Maybe flip-flop -->
    <div id="title4_gray">
        <% if @keeper_or_maybe == "keeper" then %>
          <%= link_to "switch to maybe's", :action => 'show', :controller => 'users', :course => @course, :sortby => @sortby, :keeper_or_maybe => "maybe" %>
        <% elsif @keeper_or_maybe == "maybe" then %>
          <%= link_to "switch to keepers", :action => 'show', :controller => 'users', :course => @course, :sortby => @sortby, :keeper_or_maybe => "keeper" %>
        <% else %><br/>
        <% end %>
    </div>

<!--  Recipe Header -->
    <div id ="title2_black">
      <% if @keeper_or_maybe == 'keeper' then %>Keeper's :<% elsif @keeper_or_maybe == 'maybe' then %>Maybe's :<% else %><%= @keeper_or_maybe %> <% end %>
      <font size="1" style="font-size:28px; color:orange">
        <% if @course.nil? %>All Recipes
        <% else %><%= @course.capitalize %>
        <% end %>
      </font>      
    </div>

<!--  Recipe Sorting Options -->
    <% if (@keeper_or_maybe == 'keeper' || @keeper_or_maybe == 'maybe') %>
      <div><%= sort_options %></div>
    <% else %>
      <br/>
    <%end%>
      

    


  
  


