
<!-- Book Title and Main Links -->
   
   <div align="center"><br/>
      <div id="title0_black"><%= "- " + @user.bookname + " -"%></div>
      <div id="title9_org">
        <%preserve = @query[:pile]%>
        <%@query[:pile] = "keeper"%>
          <%= link_to "keepers (" + @keeper_count.to_s + ")", users_path(:query => @query) %> |
        <%@query[:pile] = "maybe"%>
          <%= link_to "maybes (" + @maybe_count.to_s + ")", users_path(:query => @query) %> |
        <%= link_to "stories (" + @stories_count.to_s + ")", :action => 'indexstories', :controller => 'users' %> |
        <%= link_to "add recipe", new_recipe_path(:query => @query) %> |
        <%= link_to "edit book", edit_user_path(:id => current_user.id) %> |
        <%= link_to "sign out", signout_path, :method => :delete %>
        <%@query[:pile] = preserve%>
      </div>
    </div>
    <br/>

<!--  LOGO for Keeper and Maybe -->

   <div id ="logo_guy">
      <% if @title_left == "Keeper's: " %><%= image_tag 'keeper_guy.gif' %>
      <% elsif @title_left == "Maybe's: " %><%= image_tag 'maybe_guy.gif' %>
      <% end %>
   </div>

<!--  Recipe Header -->

    <div id ="title1_black">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <%= @title_left %>
      <font size="1" style="font-size:28px; color:orange">
        <%= @title_right %>
      </font>
    </div>


<!--  Recipe Sorting Options -->
    <% if (@query != nil && @title_left != "Add New Recipe") %>
      <% preserve = @query.clone %>
        <% @query[:page] = 0 %>

        <% if (@action == "index" || @action == 'indexstories') %>
          <% @query[:sort] = "new" %>
            <% if preserve[:sort] == "created_at DESC" %><span id ="highlight_org"><%=  link_to "newest", users_path(:query => @query) %></span>
            <% else %><span id ="title9_org"><%=  link_to "newest", :action => @action, :controller => 'users', :query => @query %></span><% end %>

          <% @query[:sort] = "old" %>
            <% if preserve[:sort] == "created_at ASC" %> | <span id ="highlight_org"><%=  link_to "oldest", users_path(:query => @query) %></span>
            <% else %> | <span id ="title9_org"><%=  link_to "oldest", :action => @action, :controller => 'users', :query => @query %></span><% end %>
        <% end %>
            
        <% if @action == "index" %>
          <% @query[:sort] = "mine" %>
            <% if preserve[:sort] == "mine" %> | <span id ="highlight_org"><%=  link_to "just mine", users_path(:query => @query) %></span>
            <% else %> | <span id ="title9_org"><%=  link_to "just mine", :action => @action, :controller => 'users', :query => @query %></span><% end %>

          <% @query[:sort] = "rate" %>
            <% if preserve[:sort] == "rate" %> | <span id ="highlight_org"><%=  link_to "rating", users_path(:query => @query) %></span>
            <% else %> | <span id ="title9_org"><%=  link_to "rating", :action => @action, :controller => 'users', :query => @query %></span><% end %>
        <% end %>

      <% @query = preserve.clone %>
    <% else %>
      <br/>
    <%end%>



