
<!-- Book Title and Main Links -->
    <div align="center"><br/>
      <div id="title0_black"><%=@user.bookname%></div>
      <div>
      <%= link_to "reset", :action => 'index', :controller => 'users' %> |
      <%= link_to "add a recipe", :action => 'new', :controller => 'recipes', :query => @query %> |
      <%= link_to "edit book" %> |
      <%= link_to "sign out", signout_path, :method => :delete %>
      </div>
    </div>
    
<!--  Keeper / Maybe flip-flop -->
    <div id="title4_gray">
        <% if (@query != nil && @title_left != "Add New Recipe") %>
          <%preserve = @query[:pile]%>
            <% if @query[:pile] == "keeper" %><%@query[:pile] = "maybe"%>
              <%= link_to "switch to maybe's", :action => 'index', :controller => 'users', :query => @query %>
            <% elsif @query[:pile] == "maybe" %><%@query[:pile] = "keeper"%>
              <%= link_to "switch to keeper's", :action => 'index', :controller => 'users', :query => @query %>
            <% end %>
          <%@query[:pile] = preserve%>
        <% else %>
          <br/>
        <% end %>        
    </div>

<!--  Recipe Header -->
    <div id ="title2_black">
      <%= @title_left %>
      <font size="1" style="font-size:28px; color:orange">
        <%= @title_right %>
      </font>      
    </div>

<!--  Recipe Sorting Options -->
    <% if (@query != nil && @title_left != "Add New Recipe") %>
      <% preserve = @query.clone %>
        <% @query[:page] = 0 %>
        <% @query[:sort] = "new" %>
        <%=  link_to "newest", :action => 'index', :controller => 'users', :query => @query %> |
        <% @query[:sort] = "old" %>
        <%=  link_to "oldest", :action => 'index', :controller => 'users', :query => @query %> |
        <% @query[:sort] = "chef" %>
        <%=  link_to "chef", :action => 'index', :controller => 'users', :query => @query %> |
        <% @query[:sort] = "rate" %>
        <%=  link_to "rating", :action => 'index', :controller => 'users', :query => @query %> |
        <% @query[:sort] = "story" %>
        <%=  link_to "stories", :action => 'index', :controller => 'users', :query => @query %>
      <% @query = preserve.clone %>
    <% else %>
      <br/>
    <%end%>



    


  
  


