 <br/>
    <div id ="title2_black"><% if @show.nil? %>All Recipes<% else %><%= @show.capitalize %><% end %> </div>
    <div>
      <%=  link_to "newest", :action => 'show', :controller => 'users', :sort => "new", :show => @show, :keep => @keep %> |
      <%=  link_to "oldest", :action => 'show', :controller => 'users', :sort => "old", :show => @show, :keep => @keep %> |
      <%=  link_to "by chef", :action => 'show', :controller => 'users', :sort => "chef", :show => @show, :keep => @keep %> |
      <%=  link_to "rating", :action => 'show', :controller => 'users', :sort => "rate", :show => @show, :keep => @keep %> |
      <%=  link_to "views", :action => 'show', :controller => 'users', :sort => "view", :show => @show, :keep => @keep %> |
      <%=  link_to "stories", :action => 'show', :controller => 'users', :sort => "story", :show => @show, :keep => @keep %>
    </div>
  <ul type ="disc">
     <% @recipes.each do |recipe| %>
        <li id="title6_black">
          <%= link_to recipe.title, recipe %>
          <font size="1" style="font-size:14px; color:gray;">
          <% if recipe.stories.count == 0 %>
            no stories
          <% elsif recipe.stories.count == 1 %>
            1 story
          <% else %>
            <%= recipe.stories.count %> stories
          <% end %>
          </font>
        </li>
    <% end %>
    <% if @recipes.size == 0 %>
      <li id="pfont">no recipes yet</li>
    <% end  %>
  </ul>


  
  


