 <br/>
    
 <table width = "700">
   <tr>
      <td>
          
     </td>
     <td align ="center">
        like
     </td>
     <td align ="center">
        hate
     </td>
     <td align ="center">
        stories
     </td>
      <td align ="center">

     </td>
   </tr>
   <% @recipes.each do |recipe| %>
    <tr width ="400">
      <td>       
         <div id="title6_black">
             <%= link_to recipe.title_concat, recipe, {:style=>'color:black; hover'} %>
         </div>       
     </td>
     <td>
        <div id="title6_gray" align ="center">
          <%= "4"%>
        </div>
     </td>
     <td>
        <div id="title6_gray" align ="center">
          <%= "5"%>
        </div>
     </td>
     <td>
        <div id="title6_gray" align ="center">
         <%= recipe.stories.count %>
         
        </div>
     </td>
     <td>
        <div id="title6_gray">
          <% if @keep == 'keeper' %>
            <%= link_to "to maybe", :action => 'update', :controller => 'recipefavourites', :recipe_id => recipe.id, :user_id => current_user.id, :rating => 'maybe', :loc => @keep %> |
          <% elsif @keep == 'maybe' %>
            <%= link_to "to keeper", :action => 'update', :controller => 'recipefavourites', :recipe_id => recipe.id, :user_id => current_user.id, :rating => 'keeper', :loc => @keep %> |
          <% end %>
          <%= link_to "hate it", :action => 'update', :controller => 'recipefavourites', :recipe_id => recipe.id, :user_id => current_user.id, :rating => 'hate', :loc => @keep %> |
          <%= link_to "remove", :action => 'destroy', :controller => 'recipefavourites', :recipe_id => recipe.id, :user_id => current_user.id %>
        </div>
     </td>
     
   </tr>
   <% end  %>
 </table>



 


  
  


