<!--  Pagination -->
<div class ="pagination" >
    <% @query[:page] -= 1 %>
    <%= link_to '<<', :action => 'show', :controller => 'users', :query => @query %>
    <% @query[:page] += 1 %>
    <%= ' - pg ' + (@query[:page] + 1).to_s + ' - '%>
    <% @query[:page] += 1 %>
    <% if (@recipes != nil  && @recipes.count != 0) %><%= link_to '>>', :action => 'show', :controller => 'users', :query => @query %><%end%>
    <% @query[:page] -= 1 %>
</div>

<!--  Recipe Table -->
<br/>
 <% if (@recipes != nil  && @recipes.count != 0) %>
 <table width = "720">
    <tr>
      <td width ="430"></td>
      <td width ="40" align ="center">:)</td>
      <td width ="40" align ="center">:(</td>
      <td width ="40" align ="center">[][]</td>
      <td width ="170" align ="center">actions</td>
    </tr>
  
   <%@recipes.each do |recipe| %>
    <tr>
      <td><div id="title6_black">
          <%= link_to recipe.title_concat, :action => 'show', :controller => 'recipes', :id => recipe.id, :query => @query %></div></td>
      <td><div id="title6_gray" align ="center">
          <%= recipe.num_of_likes %></div></td>
      <td><div id="title6_gray" align ="center">
          <%= recipe.num_of_hates %></div></td>
      <td><div id="title6_gray" align ="center">
         <%= recipe.stories.count %></div></td>
      <td><div id="title6_gray" align ="right">
          <% if @query[:pile] == 'keeper' %>
            <%= link_to "maybe", :action => 'update', :controller => 'recipefavourites', :recipe_id => recipe.id, :user_id => current_user.id, :query => @query, :sendto => "maybe" %>,
          <% elsif @query[:pile] == 'maybe' %>
            <%= link_to "keeper", :action => 'update', :controller => 'recipefavourites', :recipe_id => recipe.id, :user_id => current_user.id, :query => @query, :sendto => "keeper" %>,
          <% end %>
          <%= link_to "reject", :action => 'update', :controller => 'recipefavourites', :recipe_id => recipe.id, :user_id => current_user.id, :query => @query, :sendto => "hate" %>,
          <%= link_to "remove", :action => 'destroy', :controller => 'recipefavourites', :recipe_id => recipe.id, :user_id => current_user.id, :query => @query %>
          </div>
      </td>
    </tr>
   <% end %>  
 </table>
 <% else %>
    <br/><div id="title2_gray">An empty page, begging to be filled.</div>
 <% end %>



 


  
  


