
<!-- Pagination Top -->
<div class ="pagination" id="pagination_user_top" >
  <%= render 'paginate' %>
</div>

<!--  Recipe Table -->
 <% if (@recipes != nil  && @recipes.count != 0) %>
 <div id ="action_labels"><%= image_tag 'action_labels.gif' %></div>
 <table width = "720">
    <tr>
      <td width ="30"></td>
      <td width ="400"></td>
      <td width ="40" align ="center"><%= image_tag 'thumbs_up.gif' %></td>
      <td width ="40" align ="center"><%= image_tag 'thumbs_down.gif' %></td>
      <td width ="40" align ="center"><%= image_tag 'pencil.gif' %></td>
      <td width ="170" align ="center"></td>
    </tr>
  
   <%@recipes.each do |recipe| %>
    <tr>
      <td><div id="title8_gray">
          <%= recipe.id.to_s + "."%></div></td>
      <td><div id="title4_black">
          <%= link_to recipe.title_concat(36), recipe_path(:id => recipe.id, :query => @query) %></div></td>
      <td><div id="title7_gray" align ="center">
          <%= recipe.num_of_likes %></div></td>
      <td><div id="title7_gray" align ="center">
          <%= recipe.num_of_hates %></div></td>
      <td><div id="title7_gray" align ="center">
         <%= (recipe.my_story_count(current_user.id).to_i + recipe.other_story_count(current_user.id).to_i).to_s %></div></td>
      <td><div id="title8_gray" align ="right">
          <% if @query[:pile] == 'keeper' %>
            <%= link_to "maybe", :action => 'update', :controller => 'recipefavourites', :recipe_id => recipe.id, :user_id => current_user.id, :query => @query, :sendto => "maybe" %>,
          <% elsif @query[:pile] == 'maybe' %>
            <%= link_to "keeper", :action => 'update', :controller => 'recipefavourites', :recipe_id => recipe.id, :user_id => current_user.id, :query => @query, :sendto => "keeper" %>,
          <% end %>
          <%= link_to "reject", :action => 'update', :controller => 'recipefavourites', :recipe_id => recipe.id, :user_id => current_user.id, :query => @query, :sendto => "hate" %>,
          <%= link_to "remove", :action => 'destroy', :controller => 'recipefavourites', :recipe_id => recipe.id, :user_id => current_user.id, :query => @query %>
          </div>
      </td>
    </tr>
   <% end %>  
 </table>
 <% else %>
    <br/><div id="title8_gray">An empty page, begging to be filled.</div>
 <% end %>

 <br/>
 <div class ="pagination" align ="center" >
   <%= render 'paginate' %>
 </div>



 


  
  


