<p>Sign in form</p>
<% if @loginfail %>
    <div id="title1_red">Invalid email/password combination.</div>
    <br/>
<% end %>
<%= form_for(:session, :url => sessions_path) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div>
  <div class="actions">
    <%= f.submit "Sign in" %>
  </div>
<% end %>
<p>New user? <%= link_to "Sign up now!", signup_path %></p>

