
<%= form_for(:session, :url => sessions_path) do |f| %>
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
  <div class="actions">
    <%= f.submit "Sign in" %>
  </div>

<% end %>

<br/>
<% if @loginfail %>
    <div class="error_background">
      <ul><li>Invalid email/password combination.</li></ul>
    </div>
<% end %>


