 <%preserve = @query.clone %>
 <%@query[:page] = 0 %>
 <%@query[:course] = "all" %>
 <div class ="tabright" id="tab_all"><%= link_to image_tag('tab-yellow-all.jpg', :border => 0, :class => "tabright", :mouseover => "tab-yellow-all-bent.jpg"), :action => 'index', :controller => 'users', :query => @query %></div>
 <%@query[:course] = 'app' %>
 <div class ="tabright" id="tab_apps"><%= link_to image_tag('tab-yellow-apps.jpg', :border => 0, :class => "tabright", :mouseover => "tab-yellow-apps-bent.jpg"), :action => 'index', :controller => 'users', :query => @query %></div>
 <%@query[:course] = 'soup' %>
 <div class ="tabright" id="tab_soups"><%= link_to image_tag('tab-yellow-soups.jpg', :border => 0, :class => "tabright", :mouseover => "tab-yellow-soups-bent.jpg"), :action => 'index', :controller => 'users', :query => @query %></div>
 <%@query[:course] = 'sauce' %>
 <div class ="tabright" id="tab_sause"><%= link_to image_tag('tab-yellow-sauce.jpg', :border => 0, :class => "tabright", :mouseover => "tab-yellow-sauce-bent.jpg"), :action => 'index', :controller => 'users', :query => @query %></div>
 <%@query[:course] = 'salad' %>
 <div class ="tabright" id="tab_salad"><%= link_to image_tag('tab-yellow-salad.jpg', :border => 0, :class => "tabright", :mouseover => "tab-yellow-salad-bent.jpg"), :action => 'index', :controller => 'users', :query => @query %></div>
 <%@query[:course] = 'side' %>
 <div class ="tabright" id="tab_side"><%= link_to image_tag('tab-yellow-side.jpg', :border => 0, :class => "tabright", :mouseover => "tab-yellow-side-bent.jpg"), :action => 'index', :controller => 'users', :query => @query %></div>
 <%@query[:course] = 'main' %>
 <div class ="tabright" id="tab_main"><%= link_to image_tag('tab-yellow-main.jpg', :border => 0, :class => "tabright", :mouseover => "tab-yellow-main-bent.jpg"), :action => 'index', :controller => 'users', :query => @query %></div>
 <%@query[:course] = 'sweet' %>
 <div class ="tabright" id="tab_sweet"><%= link_to image_tag('tab-yellow-sweet.jpg', :border => 0, :class => "tabright", :mouseover => "tab-yellow-sweet-bent.jpg"), :action => 'index', :controller => 'users', :query => @query %></div>
 <%@query[:course] = 'breaky' %>
 <div class ="tabright" id="tab_breky"><%= link_to image_tag('tab-yellow-breky.jpg', :border => 0, :class => "tabright", :mouseover => "tab-yellow-breky-bent.jpg"), :action => 'index', :controller => 'users', :query => @query %></div>
 <%@query[:course] = 'brd' %>
 <div class ="tabright" id="tab_bread"><%= link_to image_tag('tab-yellow-bread.jpg', :border => 0, :class => "tabright", :mouseover => "tab-yellow-bread-bent.jpg"), :action => 'index', :controller => 'users', :query => @query %></div>
 <%@query[:course] = 'bev' %>
 <div class ="tabright" id="tab_bevs"><%= link_to image_tag('tab-yellow-bevs.jpg', :border => 0, :class => "tabright", :mouseover => "tab-yellow-bevs-bent.jpg"), :action => 'index', :controller => 'users', :query => @query %></div>
 <%@query[:course] = 'presv' %>
 <div class ="tabright" id="tab_presv"><%= link_to image_tag('tab-yellow-presv.jpg', :border => 0, :class => "tabright", :mouseover => "tab-yellow-presv-bent.jpg"), :action => 'index', :controller => 'users', :query => @query %></div>
 <%@query = preserve.clone %>