 
<%= form_for(@user) do |f| %>
   <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
 <div class="field">
    <%= f.label "Your Scrapbook's Name" %>
    <%= f.text_field :bookname %>
  </div>
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>  
  <div class="actions">
     <%= f.submit @button_label %>
  </div>

<% end %>

<br/>
<% if @user.errors.any? %>
    <div class="error_background">
      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
   <% end %>
