
<div id="page">
  <div id ="LogoQuote"><%= image_tag('home_logo.jpg') %></div>
  <div id ="arrow1"><%= image_tag('home_arrow1.gif') %></div>
  <div id ="arrow2"><%= image_tag('home_arrow2.gif') %></div>
  <div id ="arrow3"><%= image_tag('home_arrow3.gif') %></div>
  <div id ="arrow4"><%= image_tag('home_arrow4.gif') %></div>
  <div id ="home_quote">Where good food and great stories come together</div>


</div>
<div id="page">
  <br/><br/>
  <div id="titlefont"></div><br/>
   <%# @stories.each do |s| %>
  <div id="pfont"><%#= s.thestory %></div>
  <div><%#= link_to '...see more', s %></div>
  <br/>
  <%# end %>


</div>
