<div id="page1">
  <div id ="LogoQuote">
   <%= image_tag('logo.png') %>
   <br/>
   <%= image_tag('quote.png') %>
  </div>
</div>
<div id="page2">
  <br/><br/>
  <div id="titlefont">Recently added...</div><br/>
  <div id="pfont"><%= @stories.first.story %></div><br/>
  <div id="pfont"><%= @stories.second.story %></div><br/>
  <div id="pfont"><%= @stories.third.story %></div>

 </div>
