
<!--  Show Mine/All, or Add Story -->
<% if (@favourite_recipe == "keeper" || @favourite_recipe == "maybe") %>
    <br/>
    <div align ="center">
      <% if @show_my_stories == 'yes' %>
        <span id="highlight_org"><%=  link_to "show mine (" + @recipe.my_story_count(current_user.id) + ")", :action => 'show', :controller => 'recipes', :id => @recipe.id, :show_my_stories => "yes" %> | </span>
      <% else %>
        <span id="title9_org"><%= link_to "show mine (" + @recipe.my_story_count(current_user.id) + ")", :action => 'show', :controller => 'recipes', :id => @recipe.id, :show_my_stories => "yes" %> | </span>
      <% end %>
      <% if @show_my_stories == 'no' %>
        <span id="highlight_org"><%=  link_to "show others ("+@recipe.other_story_count(current_user.id).to_s+")", :action => 'show', :controller => 'recipes', :id => @recipe.id, :show_my_stories => "no" %> |</span>
      <% else %>
        <span id="title9_org"><%=  link_to "show others ("+@recipe.other_story_count(current_user.id).to_s+")", :action => 'show', :controller => 'recipes', :id => @recipe.id, :show_my_stories => "no" %> |</span>
      <% end %>
        <span id="title9_org"><%=  link_to "add a story", :controller => 'stories', :action => 'new', :recipe_id => @recipe %></span>
    </div>
    <br/>
<% else %>
    <br/><br/>
<% end %>

<!--  Paginate!! -->
<% if @story == nil %>
  <br/>
<% else %>
  <div class ="pagination" id ="pagination_story_top"><%= render 'stories/paginate' %></div>
<% end %>












