
<!--  Story Header -->
<% if ((@favourite_recipe == "keeper" || @favourite_recipe == "maybe") && @show_my_stories == "yes") %>
    <div id="title2_black" align ="center">My Stories</div>
<% else %>
    <div id="title2_black" align ="center">All Stories</div>
<% end %>

<!--  Show Mine/All, or Add Story -->
<% if (@favourite_recipe == "keeper" || @favourite_recipe == "maybe") %>
    <div align ="center">
      <%=  link_to "show mine (" + @recipe.my_story_count(current_user.id) + ")", :action => 'show', :controller => 'recipes', :id => @recipe.id, :show_my_stories => "yes" %> |
      <%=  link_to "show all ("+@recipe.stories.count.to_s+")", :action => 'show', :controller => 'recipes', :id => @recipe.id, :show_my_stories => "no" %> |
      <%=  link_to "add a story", {:controller => 'stories', :action => 'new', :recipe_id => @recipe} %>
    </div>
    <br/>
<% else %>
    <br/><br/>
<% end %>

<!--  Show Story!! -->
<% if @story == nil %>
    <br/>
<% elsif ((@favourite_recipe == "keeper" || @favourite_recipe == "maybe") && @my_story_count.to_i > 0 && @show_my_stories == "yes") %>
    <div id ="title4_gray" align ="center">
      <% if @story.my_previous_story %><%= link_to '<<prev', :action => 'show', :controller => 'stories', :id => @story.my_previous_story, :show_my_stories => "yes" %>
      <% else %><%= '<<prev' %><% end %>
      <%= @story.my_story_location %>
      <% if @story.my_next_story %><%= link_to 'next>>', :action => 'show', :controller => 'stories', :id => @story.my_next_story, :show_my_stories => "yes" %>
      <% else %><%= 'next>>' %><% end %>
    </div>
<% else %>
    <div id ="title4_gray" align ="center">
      <% if @story.previous_story %><%= link_to '<<prev', :action => 'show', :controller => 'stories', :id => @story.previous_story, :show_my_stories => "no" %>
      <% else %><%= '<<prev' %><% end %>
      <%= @story.story_location %>
      <% if @story.next_story %><%= link_to 'next>>', :action => 'show', :controller => 'stories', :id => @story.next_story, :show_my_stories => "no" %>
      <% else %><%= 'next>>' %><% end %>
    </div>
<% end %><br/>











