
<div align ="center">
  <% if @story != nil %>
    <div id="title5_org" align ="center"><%= @story.title %></div>
    <div id ="title4_gray" align ="center">by <%= @author_story.name %> on <%= @story.created_at.strftime("%B %d, %Y") %></div>
   
    <br/>

    <% if @story.photo_file_size != nil %>
      <div id ="picture">
        <%= image_tag @story.photo.url(:small) %>
      </div>
      <br/>
    <% end %>
  <% end %>
</div>
    
<% if @story == nil %>
  <div id ="title8_black">This recipe has no stories yet.</div>
<% else %>
  <div id="title8_black"><%= @story.thestory %></div>
<% end %>
      


  
  
  

