
<div align ="center">
    <div id="title5_org" align ="center"><%= @story.title %></div>
    <div id ="title4_gray" align ="center">by <%= @author_story.name %> on <%= @story.created_at.to_s(:long) %></div>

    <br/>

    <div id ="picture"><%= image_tag @story.photo.url(:small) %></div>
</div>
<br/>
    <div>
      <% if @story == nil %>
        This recipe has no stories yet.
      <% else %>
        <div id="title8_black"><%= @story.thestory %></div>
      <% end %>
    </div>
    <br/>


  
  
  

