
<div align ="center">
   <% if @story != nil %>
    <div id="title5_org" align ="center"><%= @story.title %></div>
    <div id ="title4_gray" align ="center">by <%= @author_story.name %> on <%= @story.created_at.strftime("%B %d, %Y") %></div>
   
    <br/>

    <div id ="picture"><%= image_tag @story.photo.url(:small) %></div>
    <% end %>
</div>
<br/>
    <div id ="title9_black" align ="center">
      <% if @story == nil %>This recipe has no stories yet.        
      <% else %><div id="title9_black"><%= @story.thestory %></div>
      <% end %>
    </div>
    <br/>


  
  
  

