
<div align ="center">
  <% if @story != nil %>
    <div id="title4_org" align ="center"><%= @story.title %></div>   
    <br/>
    <% if @story.photo_file_size != nil %>
      <div id ="picture">
        <%= image_tag @story.photo.url(:original) %>
      </div>
      <br/>
    <% end %>
  <% end %>
</div>
    
<% if @story == nil %>
  <div id ="title7_gray" align="center">This recipe has no stories yet.</div>
<% else %>
  <div id="title7_gray"><%= @story.thestory %></div>
  <br/>
  <div id ="title8_gray">by <%= @author_story.name %>, <%= @story.created_at.strftime("%B %d, %Y") %></div>
  <% if @author_story == current_user %>
    <%= link_to 'edit story', edit_story_path(@story.id) %>
  <% end %>
  <br/>
  <%= render 'stories/paginate' %>
<% end %>
      


  
  
  

