<!DOCTYPE html>
<html>
<head>
  <title>Dead Grandma Cookies</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
  
</head>
<body>
  
  <div id="start"><%= image_tag('background2.jpg') %>
    <div class ="tableft" id="tab_home"><%= link_to image_tag('tab_home.jpg', :border => 0, :mouseover => "tab_home_press.jpg"), :action => 'home', :controller => 'pages' %></div>
    <div class ="tableft" id="tab_about"><%= link_to image_tag('tab_about.jpg', :border => 0, :mouseover => "tab_about_press.jpg"), :action => 'about', :controller => 'pages' %></div>
    <div class ="tableft" id="tab_courses"><%= link_to image_tag('tab_courses.jpg', :border => 0, :mouseover => "tab_courses_press.jpg"), :action => 'index', :controller => 'viewers' %></div>
    <div class ="tableft" id="tab_lifeissweet"><%= link_to image_tag('tab_lifeissweet.jpg', :border => 0, :mouseover => "tab_lifeissweet_press.jpg"), :action => 'indexstories', :controller => 'viewers', :emo => "sweet" %></div>
    <div class ="tableft" id="tab_biteme"><%= link_to image_tag('tab_biteme.jpg', :border => 0, :mouseover => "tab_biteme_press.jpg"), :action => 'indexstories', :controller => 'viewers', :emo => "bite"  %></div>
    <div class ="tableft" id="tab_mybook"><%= link_to image_tag('tab_mybook.jpg', :border => 0, :mouseover => "tab_mybook_press.jpg"), :action => 'index', :controller => 'users' %></div>

    <%= yield %>

  </div>
</body>
</html>
