<!DOCTYPE html>
<html>
<head>
  <title>Dead Grandma Cookies</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
  
</head>
<body>
  <div id="start">
    <div id="header"><%= image_tag('img_header.jpg') %>
      <div class="header-links" id="course">
      <%= link_to "Course", "#", :onMouseover => "document.getElementById('nav').style.display = 'block'", :onMouseout => "document.getElementById('nav').style.display = 'none'" %></div>
      <div class="header-links" id="origin"><a href ="Course" target="_blank">Origin</a></div>
      <div class="header-links" id="sweet"><a href ="Course" target="_blank">Life is Sweet</a></div>
      <div class="header-links" id="biteme"><a href ="Course" target="_blank">Bite Me</a></div>
      <div class="header-links" id="even"><a href ="Course" target="_blank">Even Steven</a></div>
      <div class="header-links" id="myrecipes"><a href ="Course" target="_blank">my Recipes</a></div>
    </div>
    <% content_tag(:div, :id => "nav", :onmouseover => "document.getElementById('nav').style.display = 'block'") %>
    <div id="nav">
          <li><a href="#">Breakfast/Brunch</a></li>
          <li><a href="#">Lunch</a></li>
          <li><a href="#">Dinner</a></li>
          <li><a href="#">Dessert</a></li>
          <li><a href="#">Snack</a></li>
    </div>


    <div id="content">
      <%= yield %>
    </div>
  </div>

</body>
</html>
